@font-face {
    font-family: "Raleway";
    src: url("Fonts/Raleway-Regular.ttf");
}

/* ↑Ajout de la police Raleway↑ */

body{
    font-family: "Raleway";
    font-size: 12px;
    margin:0%;
}

body ul li{
    list-style-type: none;
}

/* ↑Toute les listes à puces sont neutres↑ */

/*La page entière du site à une marge à gauche et à droite*/
#margePage{
    margin: 0% 3% 0% 3%;
}

/*En-tête du site sans le logo*/
header nav{
    width: 20%;
    margin: 2% 0% 2% 0%;
}

header nav ul{
    padding: 0%;
    margin: auto;
}

/*Mettre la liste en ligne horizontale*/
header nav li{
    display: inline;
}

header nav li{
    margin: auto;
    padding: 9% 6% 0% 6%;
}

header nav a{
    color: gray;
    font-style: normal;
    text-decoration-line: none;
}

header nav li:first-child a{
    color: #0065FC;
}

/*contour qu'à aprtir du format tablette*/
@media screen and (min-width: 768px) {
    header nav li:first-child{
        border-top: 2px solid #0065FC;
    }
}

/*Switch logo*/
header img:first-child{
    width: 30%;
}

header img:last-child{
    width: 0%;
    height: 0%;
}

/*En-tête du site entier*/
header{
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Entre Logo et Hébergement*/
#hautPage{
    width: auto;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
}

/*Titres*/
#hautPage h1{
    font-size: 16px;
    font-weight: bold;
    display: flex;
}

#hautPage h1 span:first-child{
    margin-right: 5px;
}

#hautPage h2{
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    color: gray;
}

/*Formulaire*/
form{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: left;
}

form section{
    height: 40px;
    margin: 0px;
    padding: 0%;
    display: flex;
    background-color: #F2F2F2;
    border-radius: 10px;
}

form div:first-child{
    display: flex;
    width: 30px;
    justify-content: space-around;
}

form i{
    width: 0px;
}

form svg{
    width: 14px;    
    color: black;
}

form div:nth-child(2){
    margin: 0px;
    display: flex;
}

form div:nth-child(2) input{
    font-family: "Raleway";
    font-weight: bold;
    border-style: none;
    text-indent: 5px;
}

form div:last-child{
    display: flex;
    box-sizing: border-box;
    background-color: #0065FC;
    border: solid #0065FC 1px;
    border-radius: 0px 10px 10px 0px;
}

form div:last-child input{
    font-family: "Raleway";
    font-weight: bold;
    color: white;
    box-sizing: border-box;
    border: solid #0065FC 1px;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
}

/*Choix de liste pour filtres à changer ?*/
#filtres{
    margin: 0px;
    width: auto;
    height: 20%;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#filtres a{
    padding-left: 4px;
    text-decoration-line: none;
    color: black;
}

#filtres1{
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: flex-start;
}

#filtres1 ul{
    padding: 0px 10px 0px 0px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
}

/*Pour éclairer en bleu claire les filtres au survol*/
.contourFiltre:hover{
    background-color: #DEEBFF;
}

#filtres1 i{
    width: 12px;
    padding: 10px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

/*Partie info avec icone*/
#hautPage div:last-child{
    width: auto;
    display: flex;
    align-items:center;
}

#hautPage div:last-child p{
    padding-left: 15px;
    color: gray;
    font-size: 10px;
}

/*main = Hébergements + Populaires*/
main{
    margin: auto;
    display: flex;
    justify-content: space-between;
}

main h3{
    font-weight: bold;
    font-size: 16px;
    padding-left: 12px;
    margin-bottom: 18px;
}

#Info i{
    color: #0065FC;
    padding: 5px 9px 5px 9px;
    border: 1px solid #c0c0c0;
    border-radius: 18px;
}

#Hebergements{
    width: 78%;
    height: auto;
    background-color: #F2F2F2;
    border: 1px white solid;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#vignettesHeb{
    width: auto;
    margin-top: -24px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

#vignettesHeb a{
    width: 33.33%;
    color: black;
    font-style: normal;
    text-decoration-line: none;
}

/*contour de hébergement en liste ul*/
.contourImage{
    padding: 5px;
    margin: 10px;
    width: auto;
    min-width: 166px;
    height: auto;
    max-height: 200px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #c0c0c0;
}

.contourImage a{
    width: 100%;
    height: 100%;
    color: black;
    font-style: normal;
    text-decoration-line: none;
    display: flex;
    flex-direction: column;
}

.contourImage ul{
    padding: 0px;
}

.titreVignette{
    margin: 5px;
    font-weight: bold;
}

.textVignette{
    margin: 5px;
}

#Hebergements p{
    font-size: 13px;
    color: black;
    font-weight: bold;
    padding-left: 12px;
    margin: 25px 0px 25px 0px;
    clear: both;
    display: flex;
    align-items: flex-end;
}

#vignettesHeb img{
    min-width: 166px;
    width: 100%;
    height: 116px;
    border-radius: 13px 13px 0px 0px;
    object-fit: cover;
}

#vignettesHeb span{
    margin: 5px;
    color: #0065FC;
}

/*étoiles heb en gris*/
#etoileHeb1 i:last-child{
    color: #F2F2F2;
}

#etoileHeb3 i:last-child{
    color: #F2F2F2;
}

#etoileHeb4 i:nth-child(1n+4){
    color: #F2F2F2;
}

#etoileHeb5 i:last-child{
    color: #F2F2F2;
}

main aside{
    width: 35%;
    margin-left: 2%;
    background-color: #F2F2F2;
    border: 1px white solid;
    border-radius: 10px;
}

/*contour de populaires en fig*/
.contourImage2{
    padding: 5px;
    margin: 12px 20px 20px 20px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #c0c0c0;
}

.contourImage2 div{
    width: auto;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
}

.contourImage2 a{
    color: black;
    font-style: normal;
    text-decoration-line: none;
}

.contourImage2 p:last-child{
    font-size: 10px;
}

#populaires figure span{
    margin-top: 20px;
    color: #0065FC;
    font-size: 10px;
}

/*main aside → #populaires pour simplifier*/
#title{
    margin: 0px 12px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title i{
    margin: 10px;
    font-size: 16px;
}

#populaires img{
    width: 100px;
    min-width: 100px;
    min-height: 134px;
    max-height: 134px;
    border-radius: 13px 0px 0px 13px;
    object-fit: cover;
}

#populaires figure{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

#populaires p:first-child{
    font-weight: bold;

}

/*changement couleur étoiles en gris*/

#group2 i:last-child{
    color: #F2F2F2;
}

#group3 i:last-child{
    color: #F2F2F2;
}

/*Activités un peu séparé de Hébergement*/
#Activites{
    height: auto;
    margin-top: 5%;
}

#Activites section{
    height: auto;
    max-height: 450px;
    display: flex;
    justify-content: space-between;
}

/*Pour pas que la partie Activité soit écrasée sur grands écrans*/
/*@media screen and (min-width:1280px){
    #Activites section{
        max-height: none;
    }
}*/

.actiGrand{
    max-width: 23%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.actiGrand:nth-child(1n + 2){
    margin-left: 30px;
}

.actiGrand a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration-line: none ;
    color: black;
    box-shadow: 0px 5px 2px #F2F2F2;
    border-radius: 20px;
}

.actiGrand figure{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 100%;
    margin: 0px;
}

.actiGrand img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.actiGrand figcaption{
    height: 30px;
    margin-top: 10px;
    padding: 12px 0px 0px 12px;
    font-weight: bold;
}

.actiPetit{
    display: flex;
    flex-direction: column;
    height: 50%;
}

.actiPetit img{
    height : 80%
}

.actiPetit figcaption{
    margin-top: 0px;
}

.actiPetit:nth-child(2){
    height: 42%;
}

.actiPetit:nth-child(2) img{
    height: 75%;
}

.actiPetit:nth-child(4){
    margin-top: 30px;
}

/*Pied-de-page avec marge négative pour prendre toute la place*/
footer{
    margin: 3% -3% 0% -3%;
    background-color: #F2F2F2;
}

footer nav{
    margin: 0%;
    padding: 0% 0% 0% 3%;
    display: flex;
    justify-items: left;
}

footer ul{
    margin: 0%;
    padding: 3% 20% 3% 0%
}

footer li{
    padding: 0px 0px 10px 0px;
}

/*Format tablette*/
@media screen and (max-width:992px) and (min-width:768px) {

    header nav{
        margin: 0% 4% 4% 0%;
    }

    header nav ul{
        display: flex;
    }
    
    main{
        display: flex;
        flex-direction: column-reverse;
    }

    main h3{
        padding-left: 20px;
    }

    #populaires{
        display: flex;
        flex-direction: column;
        width: 94%;
        max-width: 992px;
        margin: 0% 0% 5% 0%;
        padding: 0px 20px 0px 20px;
    }

    #popImg{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #populaires figure{
        display: flex;
        flex-direction: column;
    }

    #populaires figure div p:first-child{
        height: 25px;
    }

    #populaires img{
        width: 100%;
        height: 120px;
        border-radius: 13px 13px 0px 0px;
    }

    .contourImage2{
        width: 28%;
    }

    .contourImage2 div p{
        margin: 5px;
    }

    .contourImage2 span{
        margin-top: auto;
        align-content: flex-end;
        padding-left: 5px;
    }

    #Hebergements{
        width: fit-content;
        max-width: 992px;
        margin: 0%;
        padding: 0px 20px 0px 20px;
    }

    #Hebergements p{
        padding-left: 22px;
    }
    
    .contourImage{
        width: 100%;
    }

    #vignettesHeb{
        margin: 0px 0px 0px 10px;
        display: flex;
        justify-content: left;
    }

    #vignettesHeb a{
        width: 28%;
        margin-right: 30px;
    }
    
    #Activites section{
        max-height: 340px;
    }

    footer ul{
        padding: 0% 15% 0% 0%;
    }
}

/*Format mobile*/
@media screen and (max-width:767px) {

    body{
        font-size: 18px;
    }

    /*On enleve la marge pour avoir plus de place*/
    #margePage{
        margin: 0%;
    }

    /*Partie Entête*/
    header{
        width: 100%;
        margin: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header div{
        width: 100%;
    }
    
    /*Switch logo*/
    header img:first-child{
        width: 0%;
        height: 0%;
    }

    header img:last-child{
        width: 40%;
    }

    header nav{
        width: 100%;
        margin: 0%;
    }

    header nav ul{
        margin: 0%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    header nav a {
        color: black;
        font-size: 20px;
        font-weight: bold;
        margin: 12px 0px 12px 0px;
        padding: 0% 17% 2% 17%;
    }

    header li:first-child{
        width: 40%;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 5px;
    }

    header li:last-child{
        width: 40%;
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 5px;
    }

    #hautPage{
        width: 90%;
        max-width: 425px;
        margin: 0% 0% 0% 8%;
        height: auto;
    }

    #hautPage h1{
        font-size: 25px;
        display: block;
    }

    #hautPage h2{
        font-size: 18px;
        color: black;
        margin-bottom: 40px;
    }

    form{
        width: 100%;
    }

    form section{
        width: 90%;
        height: 50px;
        background-color: white;
        border: 1px solid #F2F2F2;
        border-radius: 15px;
    }

    form div:first-child{
        width: 60px;
        background-color: #F2F2F2;
        border-radius: 15px 0px 0px 15px;
    }

    form div:nth-child(2) input{
        font-size: 18px;
        width: 70%;
    }

    form div:last-child i{
        margin-right: 2px;
    }

    form div:last-child input{
        color: #0065FC;
        width: 0px;
        max-width: 0px;
        height: 0px;
        max-height: 0px;
        font-weight: bolder;
        box-sizing: unset;
        border: unset;
        background-color: unset;
    }

    form div:last-child{
        width: 60px;
        padding-left: 3px;
        border-radius: 15px;
        justify-items: left;
        align-items: center;
    }

    form i{
        width: 1%;
        font-size: 20px;
        margin-left: 15px;
        margin-right: -20px;
        color: white;
    }

    #filtres{
        margin-top: 20px;
        width: 100%;
        height: auto;
        align-items: flex-start;
        flex-direction: column;
    }

    #filtres1 p{
        margin: 30px 0px 0px 0px;
    }

    #filtres1 a{
        padding: 0px 12px 0px 12px;
    }

    #filtres1{
        width: 95%;
        max-width: 362px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #filtres1 ul{
        display: flex;
        flex-direction: row;
        margin: 0px 10px 10px 0px;
        border-width: 3px;
        border-color: #c0c0c0;
    }

    #filtre1 ul:nth-child(1n+1){
        margin: 0px 30px 10px 0px;
    }

    #filtres1 i{
        margin: -3px;
        padding: 18px 20px 18px 20px;
        border-radius: 25px;
    }

    #hautPage div:last-child{
        max-width: 362px;
    }

    #hautPage div:last-child p{
        font-size: 18px;
        color: black;
    }

    #Info i{
        color: #0065FC;
        padding: 5px 11px 5px 11px;
        border: 3px solid #c0c0c0;
        border-radius: 18px;
    }

    /*Partie principale avec Populaires puis Hébergements*/
    main{
        display: flex;
        flex-direction: column-reverse;
    }

    main aside{
        margin: 0%;
        width: 100%;
        min-width: 320px;
    }

    #populaires{
        max-width: 100%;
        align-items: flex-start;
    }

    #populaires div h3{
        font-size: 25px;
    }

    #title{
        width: 100%;
        margin: 0px 12px 0px 12px;
        align-items: center;
        justify-content: left;
        justify-content: space-between;
    }
    
    #title i{
        font-size: 25px;
        padding-right: 24px;
    }

    #populaires figure{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #populaires figure div p:last-child{
        padding-left: 0px;
        font-size: 16px;
        margin: 0% 0% 0% 0%;
    }

    #populaires figure span{
        padding-left: 10px;
        margin-bottom: 10px;
        font-size: 14px;
        margin-top: auto;
    }

    .contourImage2{
        width: 87%;
        max-width: 100%;
        margin: 10px 20px 10px 20px;
    }

    .contourImage2 a{
        max-width: 100%;
        width: 100%;
    }

    #populaires img{
        min-width: 140px;
        max-width: 140px;
        min-height: 160px;
        height: 140px;
        border-radius: 13px 0px 0px 13px;
    }

    #populaires figure p:first-child{
        font-size: 20px;
        padding-left: 0px;
        margin: 10px 0px 0px 0px
    }

    #Hebergements{
        width: 100%;
        max-width: 100%;
        padding: 0%;
        margin-top: 20px;
        background-color: white;
    }

    #Hebergements h3{
        font-size: 25px;
        width: 90%;
        padding-left: 26px;
    }

    #Hebergements section{
        width: 97%;
        margin-top: 0%;
        flex-direction: column;
        justify-content: left;
        padding-left: 12px;
    }

    .contourImage{
        width: 90%;
        max-height: 300px;
    }
    
    #vignettesHeb img{
        height: 120px;
        min-width: 100%;
        max-width: 100%;
    }

    #vignettesHeb a{
        width: 100%;
    }

    #Hebergements p{
        width: 97%;
        font-size: 20px;
        padding-left: 23px;
    }

    #Activites section{
        padding-left: 24px;
        display: flex;
        flex-direction: column;
        max-height: 100%;
    }

    .actiGrand{
        width: 95%;
        max-width: 100%;
        height: 200px;
    }

    .actiPetit{
        min-width: 100%;
        margin-top: 30px;
    }

    .actiPetit:nth-child(2){
        height: 50%;
    }

    #Activites img{
        max-height: 140px;
        height: 140px;
    }

    #Activites h3{
        padding-left: 24px;
    }

    #Activites figcaption{
        padding: 0px 0px 10px 20px;
    }

    .actiGrand:nth-child(1n + 2){
        margin: 0%;
    }

    .actiGrand:nth-child(2){
        height: 460px;
    }

    .actiGrand:nth-child(3){
        margin-top: 30px;
    }

    .actiGrand:nth-child(4){
        height: 460px;
    }

    .actiPetit{
        display: flex;
        flex-direction: column;
    }

    /*Partie pied de site*/
    footer{
        width: 100%;
        max-width: 768px;
        padding: 20px 0px 0px 0px;
        margin: 40px 0px 0px 0px;
        display: flex;
    }

    footer nav{
        min-width: 255px;
        max-width: 90%;
        padding-left: 28px;
        margin: 0%;
        display: flex;
        flex-direction: column;
    }
}

/*Petite correction pour les écrans mobiles plus petits*/
@media screen and (max-width:374px){
    #populaires p{
        font-size: 16px;
    }

    #populaires figure p:first-child{
        font-size: 16px;
    }
}